'.source.php':
    'F3 afterRoute':
        'prefix': 'fafter'
        'body': """
            function afterRoute(){
                # Defines
            	\$f3 = \$this->framework;
            	\$db = \$this->db;

            	# Codigo
                ${1:CodigoAqui}
            }
        """
    'F3 beforeRoute':
        'prefix': 'fbefore'
        'body': """
            function beforeRoute(){
            	# Defines
            	\$f3=\$this->framework;
            	\$db=\$this->db;

            	# Codigo
            	${1:CodigoAqui}
            }
        """
    'F3 e-mail audit':
        'prefix': 'fauditmail'
        'body': 'Audit::instance()->email(${1:email}, FALSE)'
    'F3 base64':
        'prefix':  'fbase64'
        'body': """\$f3->base64(${1:data},${2:type})"""
    'F3 DB commit transaction':
        'prefix': 'fbegin'
        'body':'\$db->begin();'
    'F3 convert obj2array':
        'prefix':'fcast'
        'body':'\$${1:mapper_obj}->cast()'
    'F3 new Class Template':
        'prefix':'fclass'
        'body': """
            class ${1:ClassName} extends ${2:Parent}{
            	function ${3:index}(){
            		${4:code}
            	}
            	function get(){}
            	function post(){}
            	function put(){}
            	function delete(){}
            }
        """
    'F3 clear key':
        'prefix':'fclear'
        'body':"\$f3->clear('${1:value}')"
    'F3 DB commit':
        'prefix':'fcomm'
        'body':'\$db->commit()'
    'F3 JS-style token to PHP expression':
        'prefix':'fcomp'
        'body':'\f3->compile(${1:string})'
    'F3 concat':
        'prefix':'fconcat'
        'body':'\$f3->concat(${1:key_one},${2:key_two});'
    'F3 config':
        'prefix':'fconfig'
        'body':"\$f3->config('${1:config}.ini');"

#CONTROLLER



'.text.html.basic':
    'F3 BASE url':
        'prefix': 'fbase'
        'body': """<base href="{{ @BASE . '/' .@UI }}" />"""
    'F3 check temlpate':
        'prefix': 'fcheck'
        'body':"""
            <check if="{{ isset(@${1:value})}}">
            	<true>
            		${2:html}
            	</true>
            </check>
        """
'.source.coffee':
  'medio snippet':
    'prefix': 'asnip'
    'body': """
    'F3 ${1:nombre}':
        'prefix':'${2:trigger}'
        'body':'${3:codigo}'
        'description':''
    """
